*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{
background:#f4f6f8;
color:#333;
}


header{
background:#0066ff;
color:white;
padding:40px;
text-align:center;
}


nav{
background:white;
padding:15px;
text-align:center;
}


nav a{
margin:15px;
text-decoration:none;
color:#0066ff;
font-weight:bold;
}



.hero{
padding:80px;
text-align:center;
background:white;
}


button{
padding:12px 25px;
border:none;
background:#0066ff;
color:white;
border-radius:20px;
cursor:pointer;
}


section{
padding:50px;
text-align:center;
}



.card-container{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}



.card{
    background:rgb(255, 255, 255);
width:350px;
padding:50px;
border-radius:15px;
box-shadow:0 5px 15px #cccccc;
}



.price{
display:inline-block;
background:white;
padding:30px;
margin:20px;
border-radius:15px;
box-shadow:0 5px 15px #ccc;
}



footer{
background:#222;
color:white;
text-align:center;
padding:20px;
}

